// Импорт шрифтов
@import "fonts";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
// Импорт МИКСИНОВ
@import "mixins";

// Фаил Обнуляющих Стилей
@import "_nullstyle";


//FONTS________________________________________________________________________________



//Переменные
$minWidth: 320px;
$maxWidth: 1400;
$maxWidthContainer: 1140;
$md1: $maxWidthContainer + 12px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;
//Шрифт по умолчанию
$fontFamily: "Roboto";







//Функции------------------------------------------------------------------------------
//TO %
@function prc($pxOne, $pxTwo) {
	$result: math.div($pxOne, $pxTwo) * 100;
	@return $result;
}

//REM
@function rem($px) {
	$result: math.div($px, 16)+rem;
	@return $result;
}

//EM
@function em($px) {
	$result: math.div($px, 16)+em;
	@return $result;
}

//---------------------------------------------------------------------------------------






//Основная сетка
/*.container{max-width: $mw+px;margin: 0 auto;width: 100%;
@media (max-width:$md1+px){max-width: 750px;}
@media (max-width:$md2+px){max-width: none;padding: 0 10px;}
}*/



//IBG-IMAGE v BACKGROUND
.-ibg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	img {
		display: none;
	}
}

//--------------------------------------------------------------------------



//SLIDER--------------------------------------------------------------------

//-------------------------------------------------------------------------------------






body {
	font-family: $fontFamily;
	color: #000;
	font-size: 14px;
	&._lock {
		overflow: hidden;
	}
}





.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {

	}
}


.-container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 20px;
	/*
	@media (max-width: $md1) {
		max-width: 970px;
	}
	@media (max-width: $md2) {
		max-width: 750px;
	}
	@media (max-width: $md3) {
		max-width: none;
		padding: 0 10px;
	}
	*/
}



//HEADER__________________________________________________________________
@import "header";
//BURGER---------------------------------------------------------------------------

//-------------------------------------------------------------------------------




//----------------------------------------------------------------------------------------





//Основной контент--------------------------------------------------------------------------


//MAIN----------------------------------------------------------------------------------









//-----------------------------------------------------------------------------------

//SLIDER----------------------------------------------------------------------


//-----------------------------------------------------------------------------------

//MAIN LOTS-----------------------------------------------------------------






//MAIN lots SLIDE--------------------------------------------------------------------



//--------------------------------------------------------------------------------


//LOT------------------------------------------------------------------------------


//------------------------------------------------------------------------------------